<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="P31School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<userSettings>
		<P31School.Properties.Settings>
      <setting name="Login" serializeAs="String">
          <value />
      </setting>
      <setting name="Password" serializeAs="String">
          <value />
      </setting>
      <setting name="UserID" serializeAs="String">
          <value>0</value>
      </setting>
  </P31School.Properties.Settings>
	</userSettings>
<connectionStrings><add name="P31SchoolEntities" connectionString="metadata=res://*/Model.SchoolModel.csdl|res://*/Model.SchoolModel.ssdl|res://*/Model.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4N45NBM\SQLEXPRESS;initial catalog=P31School;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>